{% load staticfiles %}
<html>
<head>
	<link rel="icon" href='{% static "images/logo.ico" %}'>
	<link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://getbootstrap.com/assets/css/ie10-viewport-bug-workaround.css">
	<link rel="stylesheet" href='{% static "css/style.css" %}'>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.5/waypoints.min.js"></script>

	<title>NCF DFW</title>

    <!-- 
        Facebook Graph Search Stuff 
    -->

    <meta property="og:url"           content="{{base_url}}" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Nishant Cancer Foundation DFW" />
    <meta property="og:description"   content="The Nishant Cancer Foundation (NCFDFW) is a non-profit organization and aims to provide financial support and raise awareness for pediatric cancer research" />
    <meta property="og:image"         content='{% static "images/nishant.jpg" %}' />

</head>
<body>
    <div id="fb-root"></div>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- <script> $('#myCarousel').carousel({ interval: 1 }) </script>﻿ -->

	{% include "navbar.html" %}

    
    {% block content %}
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>


        <div class="container-fluid text-center" id="home">
            
            {% include "carousel.html" %}

        <div class="container-fluid" id="about">
            <hr class="featurette-divider dark-divider">

            <div class="container" style="margin-top: 50px;">
                <p style="font-size: 40px;">About</p>
            </div>

            {% include "about.html" %}

        </div>

        {% if length_events != 0 %}
            <div class="container-fluid" id="events">
                <hr class="featurette-divider dark-divider" >

                <div class="container">
                    <p style="font-size: 40px; color:white;">Upcoming Events</p>

                    <div class="row">
                        {% include "events.html" %}

                    </div>

                </div>

            </div>

        {% endif %}
        
        <div class="container-fluid" id="donate">
            <hr class="light-divider featurette-divider" >

            {% include "donate.html" %}



        </div>

        {% include "footer.html" %}
        <script type="text/javascript" src='{% static "js/script.js" %}'></script>
        {% endblock %}
    
</body>
</html>